body{
    font-size: 16px;
}
nav{
    background: #1c4297;
    color: white;
    width: auto;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}
nav img:first-child{
    position: fixed;
    top: 5px;
    left: 50px;
}
nav span{
    display: inline-block;
    margin-top: 1em;
}
nav img:last-child{
    border: 1px solid yellow;
    position: fixed;
    top: 10px;
    right: 70px;
}
.menu-a{
    text-transform: uppercase;
    padding: 0em .3em;
}

.menu-b{
    padding: 0em .5em;
}

h1{
    color: #1c4297;
    font-weight: normal;
    margin: 55px 16px 16px;
}

.page-center{
    margin: 0px auto;
    max-width: 1200px;
}
section{
    box-sizing: border-box;
    width: 300px;
    display: inline-block;
    margin-right: -4px;
    padding: 0px 8px;
}

section img{
    width: 260px;
}

.destino{
    color: lightseagreen;
    margin: 0px;
    font-size: 1.5em;
}

.origen{
    margin: .5em 0px 0px 0px;
    border-bottom: 1px solid gray;
    color: gray;
    width: 260px;
}

.precio{
    margin: .5em 0px 0px 0px;
    color: gray;
}

.cantidad{
    font-size: 1.5em;
    color: #1c4297;
}

.moneda{
    font-size: .7em;
    color: #1c4297;
}

.compra{
    background: #54b848;
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0px 0px 0px;
    padding: .3em 0em;
    width: 260px;
}